<mat-toolbar color="primary" style="height: 80px;">
  <button mat-button color="primary" (click)="toggleSidebar()">
    <mat-icon style="margin: auto; color: white;">menu</mat-icon>
  </button>
  <h1 style="margin: 0; font-size: 30px;">Company Management</h1>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav style="background-color: #212121" [opened]="sidebarOpened">
    <button mat-button class="button-sidenav" color="accent" routerLink="/companies" (click)="toggleSidebar()">Companies</button>
    <button mat-button class="button-sidenav" color="accent" routerLink="/departments" (click)="toggleSidebar()">Departments</button>
    <button mat-button class="button-sidenav" color="accent" routerLink="/employees" (click)="toggleSidebar()">Employees</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
