<mat-card style="width: 80%; margin: auto; margin-top: 50px;">
  <mat-toolbar color="primary" style="font-size: 25px; font-style: italic;">EDIT EMPLOYEE</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field color="accent" class="from-input name">
        <input matInput formControlName="name" placeholder="Name" required>
        <mat-icon matSuffix style="color: #FFD54F;">person</mat-icon>
        <mat-error color="warn">You must enter a name</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" class="from-input surname">
        <input matInput formControlName="surname" placeholder="Surname">
        <mat-icon matSuffix style="color: #FFD54F;">supervisor_account</mat-icon>
      </mat-form-field>
      <mat-form-field color="accent" class="from-input company">
        <mat-label>Company</mat-label>
        <mat-select required (selectionChange)="onCompanyChange()" [(ngModel)]="selectedCompany" name="company" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let company of companies" [value]="company.id">
            {{company.name}}
          </mat-option>
        </mat-select>
        <mat-error color="warn">You must enter a company</mat-error>
        <mat-icon matSuffix style="color: #FFD54F;">apartment</mat-icon>
      </mat-form-field>
      <mat-form-field color="accent" class="from-input department">
        <mat-label>Department</mat-label>
        <mat-select required [(ngModel)]="selectedDepartment" name="department" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let department of departments" [value]="department.id">
            {{department.name}}
          </mat-option>
        </mat-select>
        <mat-error color="warn">You must enter a department</mat-error>
        <mat-icon matSuffix style="color: #FFD54F;">meeting_room</mat-icon>
      </mat-form-field>
      <mat-form-field color="accent" class="from-input position">
        <input matInput formControlName="position" color="accent" placeholder="Position">
        <mat-icon matSuffix style="color: #FFD54F;">work</mat-icon>
      </mat-form-field>
      <mat-form-field color="accent" class="from-input email">
        <input matInput formControlName="email" placeholder="Email">
        <mat-icon matSuffix style="color: #FFD54F;">alternate_email</mat-icon>
      </mat-form-field>
      <mat-form-field color="accent" class="from-input age">
        <input matInput formControlName="age" color="accent" placeholder="Age">
        <mat-icon matSuffix style="color: #FFD54F;">date_range</mat-icon>
      </mat-form-field>
      <mat-slide-toggle formControlName="status" [(ngModel)]="isActive" style="padding: 40px;">Active</mat-slide-toggle>
    </form>
  </mat-card-content>
  <mat-card-actions style="text-align: right;">
    <div style="width: 100%; text-align: right;">
      <button mat-raised-button color="primary" class="action-button" (click)="onDiscard()">DISCARD</button>
      <button mat-raised-button color="accent" class="action-button" (click)="onSubmit()">SAVE</button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="progress"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
